<!-- structural directive -->
@if (isLoggedIn){
  <h3>{{userName}}</h3>
}
@else {
  <h3>User not logged in </h3>
}
<!-- if directive with numbers -->

@if (loginCount < 3){
  <button (click) = "countLoginAttempts()">Log In</button>
}
@if (loginCount > 2){
  <h4>Login atempts exceeded</h4>
}
<!-- if directive with strings -->

 @if (userRole == 'Admin') {
  <h4>Welcome Admin</h4>
 }
 @else if (userRole == 'Member'){
  <h4>Welcome Member</h4>
}
<p>26-sep-24</p>
<!-- ng for Directives -->

<h3>{{users}}</h3>

<h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3>

@for (user of users; track user) {
  <h3>{{users}} - from new for syntax</h3>
}
<ol>
@for (user of users; track user) {
  <li>{{ user }} - from new for syntax</li>
}
</ol>

@for (user of userObject;track user) {
  <li>{{user.name}}</li>
}

@for (user of userObject;track user) {
  <li>{{user.email}}</li>
}

<!-- Change Detection -->

<p>   </p>
@for (user of userObject;track user;let i = $index) {
  <li>{{i}} {{user.name}}</li>
}
<p></p>
@for (user of userObject;track user; let i = $index) {
  <li>{{i}} {{user.email}} </li>
}
@empty {
  <p>No user found</p>
}

<button (click) = "addNewUser()">Add New User</button>

<button (click) = "removeUser()"> Remove User</button>

@if (userObject.length == 0) {
  <p>No users exist</p>
}

@for (user of userObject;track user;let i = $index;let first=$first) {
  <li>{{first}} {{i}} {{user.name}}</li>
}
<p></p>
@for (user of userObject;track user; let i = $index; let odd = $odd) {
  <li>{{odd}} {{i}} {{user.email}} </li>
}
<p></p>
@for (user of userObject;track user;let i = $index ; let even = $even) {
  <li>{{ even }}{{i}} {{user.name}}</li>
}
<p></p>
@for (user of userObject;track user;let i = $index ; let last = $last) {
  <li>{{ last }}{{i}} {{user.name}}</li>
}

<!-- @Switch directive -->

<div>
  <p>Welcomr Admin</p>
  <p>Welcomr Member</p>
</div>

@switch(userSwitch){
  @case('Admin'){
    <p>welcome Admin</p>
  }
  @case('Member'){
    <p>Welcome member</p>
  }
  @default {
    <p>Please Login</p>
  }
}
<p>27-sep-24</p>
 <!-- Attribute directive -->

<h2 [style.color] = "'rgb(254, 167, 79)'" [style.textTransform]="'uppercase'"> ATTRIBUTE DIRECTIVE</h2>
<h3 [ngStyle]="{
  'color':isLoggedin? 'green' :'red',
  'textTransform':isLoggedin? 'uppercase':'lowercase'}">Hi,welcome</h3>

  <!-- ngClass -->
<h3 [class.login]="isLoggedin" [class.logout]="!isLoggedin"> Ng Class</h3>
<h3 [ngClass]="{
  'login' : login,
  'logout': !login
  }">Ng class directive</h3>

<!-- Component Relationships -->

<h3>{{userTitle}} (APP)</h3>
<app-user [userListTitle]="userTitle" [PostIsLogin] ='appIsLogin' (MessageEvent) = "reciveMessage($event)"></app-user>

<p>{{message}}</p>

<p>{{messageFromChild}}</p>
<app-card>
  <p>This is from ng content card</p>
</app-card>

<app-card>
  <span header> username </span>
  <h1 body>John Doe</h1>
  <button footer>View Profile</button>
</app-card>

<!-- <div *ngComponentOutlet="loadComponent()"></div> -->
<button (click) = "loadComponent()">Creeate Component</button>
<button (click) = "removeComponent()"> disload Component</button>

<app-header [pUserName]="userName "></app-header>
<button (click)="changeUser()">change user Name</button>

<button (click)="loadComponent()">Load Header</button>
<button (click)="removeComponent()">deleate component</button>